public net.minecraft.world.entity.player.Abilities m_150110_()V
public-f net.minecraft.world.entity.Entity *
public-f net.minecraft.client.multiplayer.ClientLevel *

public net.minecraft.world.damagesource.DamageSources f_268645_ #damageSources
public net.minecraft.world.damagesource.DamageSources m_268998_(Lnet/minecraft/resources/ResourceKey;Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/entity/Entity;)Lnet/minecraft/world/damagesource/DamageSource; #source
public net.minecraft.world.damagesource.DamageSources m_269298_(Lnet/minecraft/resources/ResourceKey;Lnet/minecraft/world/entity/Entity;)Lnet/minecraft/world/damagesource/DamageSource; #source
public net.minecraft.world.damagesource.DamageSources m_269079_(Lnet/minecraft/resources/ResourceKey;)Lnet/minecraft/world/damagesource/DamageSource; #source

#public-f net.minecraft.world.entity.LivingEntity m_21233_()F # getMaxHealth

public net.minecraft.client.renderer.RenderStateShard f_173088_ # RENDERTYPE_TEXT_SEE_THROUGH_SHADER
public net.minecraft.client.renderer.RenderStateShard f_110139_ # TRANSLUCENT_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard f_110110_ # NO_CULL

public net.minecraft.world.entity.LivingEntity m_6668_(Lnet/minecraft/world/damagesource/DamageSource;)V # dropAllDeathLoot
public net.minecraft.world.entity.LivingEntity f_20890_ # dead
public net.minecraft.world.entity.LivingEntity f_20897_ # deathScore

public-f net.minecraft.client.Minecraft *
public-f net.minecraft.client.gui.Font *
public-f net.minecraft.client.gui.Font$StringRenderOutput
public-f net.minecraft.client.gui.Font$StringRenderOutput *
public-f net.minecraft.client.gui.Font$StringRenderOutput *()
public-f net.minecraft.client.gui.Font *()
public-f net.minecraft.client.gui.font.FontManager *
public-f net.minecraft.client.gui.font.FontManager *()
public-f net.minecraft.client.gui.GuiGraphics *
public-f net.minecraft.client.gui.GuiGraphics *()
public-f net.minecraft.client.renderer.entity.LivingEntityRenderer *
public-f net.minecraft.client.renderer.entity.LivingEntityRenderer *()

public net.minecraft.client.renderer.RenderStateShard * # Everything.

public-f net.minecraft.client.particle.ParticleEngine *
protected-f net.minecraft.client.renderer.ShaderInstance *
public-f com.mojang.blaze3d.shaders.Uniform *
public-f com.mojang.blaze3d.shaders.Uniform *()
public-f com.mojang.blaze3d.shaders.Uniform m_5679_(Lcom/mojang/math/Matrix4f;)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_200759_(Lcom/mojang/math/Matrix3f;)V # set
public-f net.minecraft.server.level.ServerLevel *
public-f net.minecraft.server.level.ServerLevel *()
public-f net.minecraft.client.renderer.LevelRenderer *
public-f net.minecraft.client.renderer.LevelRenderer *()
public-f net.minecraft.client.renderer.entity.player.PlayerRenderer *()
public-f net.minecraft.client.renderer.entity.player.PlayerRenderer *
public-f net.minecraft.client.renderer.entity.LivingEntityRenderer *
public-f net.minecraft.client.renderer.entity.LivingEntityRenderer *()
public-f net.minecraft.client.renderer.entity.EntityRenderer *
public-f net.minecraft.client.renderer.entity.EntityRenderer *()

public-f net.minecraft.client.renderer.RenderType *() # All Methods
public-f net.minecraft.client.renderer.RenderType * # All Fields
public net.minecraft.client.renderer.RenderType$CompositeState f_173274_ # shaderState\
public net.minecraft.client.renderer.RenderType$CompositeState f_110576_ # textureState
public net.minecraft.client.renderer.RenderType$CompositeState f_110577_ # transparencyState
public net.minecraft.client.renderer.RenderType$CompositeState f_110581_ # depthTestState
public net.minecraft.client.renderer.RenderType$CompositeState f_110582_ # cullState
public net.minecraft.client.renderer.RenderType$CompositeState f_110583_ # lightmapState
public net.minecraft.client.renderer.RenderType$CompositeState f_110584_ # overlayState
public net.minecraft.client.renderer.RenderType$CompositeState f_110586_ # layeringState
public net.minecraft.client.renderer.RenderType$CompositeState f_110587_ # outputState
public net.minecraft.client.renderer.RenderType$CompositeState f_110588_ # texturingState
public net.minecraft.client.renderer.RenderType$CompositeState f_110589_ # writeMaskState
public net.minecraft.client.renderer.RenderType$CompositeState f_110590_ # lineState
public net.minecraft.client.renderer.RenderType$CompositeState f_110591_ # outlineProperty
public net.minecraft.client.renderer.RenderType$CompositeRenderType f_110511_ # state

public com.mojang.blaze3d.vertex.BufferBuilder f_85658_ # format
public com.mojang.blaze3d.vertex.DefaultedVertexConsumer f_85824_ # defaultColorSet

public-f net.minecraft.ChatFormatting *
public-f net.minecraft.ChatFormatting *()
public-f net.minecraft.client.renderer.GameRenderer *
public-f net.minecraft.client.renderer.GameRenderer *()

public-f com.mojang.blaze3d.vertex.VertexFormatElement$Usage$SetupState
public-f com.mojang.blaze3d.vertex.VertexFormatElement$Usage$ClearState

public-f net.minecraft.network.chat.Style *
public-f net.minecraft.network.chat.Style *()

public-f net.minecraft.client.renderer.ShaderInstance *
public-f net.minecraft.client.renderer.ShaderInstance *()

public net.minecraft.advancements.critereon.StatePropertiesPredicate$RangedPropertyMatcher
public net.minecraft.advancements.critereon.StatePropertiesPredicate$Builder f_67691_ # matchers